body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  position: static;
  left: 0px;
  top: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 1px;
  float: none;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  float: right;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  position: static;
  margin-top: 7px;
  margin-bottom: -4px;
  padding-bottom: 13px;
  font-family:'Aguafina Script', sans-serif;
  color: white;
  font-size: 39px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 6px;
  text-decoration: none;
  text-transform: none;
}
h4 {
  height: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  height: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-bottom-style: none;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 26px;
  line-height: 18px;
  font-weight: 600;
}
p {
  display: block;
  margin-bottom: 5px;
  padding: 14px 3px 3px 0px;
  float: none;
  font-family: Exo, sans-serif;
  color: #030303;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  text-align: center;
}
a {
  position: static;
  display: block;
  padding-left: 25px;
  float: none;
  border-radius: 0px;
  font-family: Roboto, sans-serif;
  color: #524242;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  font-style: normal;
}
a.w--current {
  margin: 1px;
  background-color: #8c8c8c;
  color: white;
}
.button {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 13px;
  margin-left: -1px;
  padding: 22px 27px;
  float: right;
  background-color: #9c9c9c;
  color: white;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
}
.button._2 {
  padding: 16px;
}
.socail-con {
  padding: 5px 0px;
}
.tweet {
  width: 142px;
  margin-top: 25px;
  padding-top: 0px;
  float: right;
  clear: none;
}
.tweet.testing {
  width: auto;
  margin-top: 0px;
}
.facebook {
  margin-left: 18px;
  float: right;
}
.nav {
  background-color: #918989;
}
.navbar {
  position: relative;
  display: block;
  width: 100%;
  height: 43px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  background-color: #6ed3e0;
  box-shadow: none;
  color: #262626;
  text-align: left;
}
.nav-menu {
  display: block;
  padding-right: 5%;
  color: #fcfcfc;
  text-align: left;
}
.menu-color {
  margin: 0px 11px 0px 0px;
  padding-top: 11px;
  padding-bottom: 8px;
  opacity: 1;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: #5c5757 2px 1px 6px;
}
.menu-color:hover {
  background-color: transparent;
  color: black;
  text-shadow: none;
}
.menu-color.w--current {
  background-color: transparent;
  color: #d1d1d1;
}
.menu-color.w--open {
  color: white;
}
.menu-color.home.w--current {
  color: white;
}
.menu-color.link {
  color: black;
  text-shadow: none;
}
.menu-color.link.w--open {
  text-shadow: none;
}
.hero-section {
  height: 454px;
  margin-top: 0px;
  padding-top: 48px;
  background-color: white;
  background-image: url('../images/Group of runners(3).jpg');
  background-position: 0% 34%;
  background-size: cover;
  background-attachment: scroll;
  color: #a39696;
}
.hero-head {
  margin-top: 67px;
  padding: 32px 32px 5px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 42px;
  font-weight: 500;
}
.mission-sec {
  padding: 70px;
}
.mission-head {
  margin-bottom: 17px;
  float: none;
  font-family: Exo, sans-serif;
  color: #171111;
  font-size: 43px;
  font-weight: 900;
  letter-spacing: 5px;
}
.mission-p {
  padding: 1px 16px 0px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.hero-section-2 {
  height: auto;
  margin-top: 18px;
  padding-top: 39px;
  padding-bottom: 67px;
  background-image: url('../images/BlueBanner.jpg');
  background-position: 0% -12%;
  background-size: auto;
  background-attachment: fixed;
  box-shadow: none;
  color: #262626;
}
.about-us {
  padding: 30px 70px 70px;
}
.button-col {
  left: 0px;
  top: 0px;
  margin-top: 0px;
  padding: 0px;
}
.logos {
  margin-top: -10px;
  padding: 0px 18px;
  background-color: #6ed3e0;
  color: #262626;
  line-height: 20px;
}
.button-3 {
  margin-top: 13px;
  padding: 22px;
  float: left;
  border: 1px solid black;
  background-color: white;
  font-family: Lato, sans-serif;
  color: #141414;
  font-size: 20px;
  text-decoration: none;
}
.footer {
  padding: 50px 0px;
  background-color: #43b5cc;
}
.location {
  height: auto;
  padding: 31px;
  background-color: #43b5cc;
}
.section-3 {
  padding: 75px 0px;
}
.section-3-head {
  font-family: Exo, sans-serif;
  color: black;
  font-size: 46px;
  line-height: 41px;
}
.con3 {
  margin-right: -15px;
  padding-right: 4px;
}
.button5 {
  padding: 20px;
  float: right;
  border: 1px solid #baadad;
  background-color: #ccc;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}
.button5:hover {
  border-color: #4a4a4a;
  background-color: #4a4a4a;
}
.button-6 {
  padding: 20px;
  float: left;
  border: 1px solid #baadad;
  background-color: #ccc;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
}
.button-6:hover {
  background-color: #4a4a4a;
}
.icon {
  font-family:'Fontawesome webfont', sans-serif;
  font-size: 58px;
  font-weight: 400;
}
.icon-text {
  color: white;
  text-align: center;
}
.mission-2 {
  margin-bottom: 24px;
  padding: 43px 70px 72px;
}
.mission-head-2 {
  color: black;
}
.head {
  margin-top: 1px;
  margin-bottom: 0px;
  padding: 2px 0px;
  float: none;
  color: black;
  font-size: 39px;
  line-height: 45px;
  text-align: left;
}
.mission-button {
  margin: 1px;
  padding: 19px;
  float: left;
  border: 2px solid #ccc;
  background-color: white;
  font-family: Montserrat, sans-serif;
  color: #999;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
.logo2 {
  margin-top: 22px;
  padding-top: 0px;
}
.mission-span {
  color: #9e9e9e;
}
.mission-text {
  font-family:'Droid Serif', serif;
  color: #3d3b3b;
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
}
.mission-par {
  padding-top: 9px;
  padding-bottom: 9px;
  font-family:'PT Sans', sans-serif;
  font-size: 36px;
  line-height: 33px;
  font-weight: 400;
}
.mission-par._2 {
  font-size: 22px;
}
.mission-col2 {
  padding: 7px 8px;
  line-height: 21px;
}
.corpotate-div {
  padding-top: 5px;
  padding-bottom: 66px;
  border: 2px solid white;
}
.hero-corporate {
  height: 350px;
  padding: 1px 55px 55px;
  background-color: dimgray;
  background-image: url('../images/Happy business place.jpg');
  background-position: 0% 40%;
  background-size: cover;
}
.hero-corp-head {
  font-family: Roboto, sans-serif;
  color: #242323;
  font-size: 44px;
  font-weight: 500;
}
.hero-coaching {
  position: relative;
  left: 0px;
  top: 0px;
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 70px 38px;
  background-color: white;
  color: #474242;
}
.about-head {
  display: block;
  margin-top: 22px;
  padding-top: 10px;
  padding-left: 7px;
  float: none;
  border-right-style: solid;
  border-right-width: 0px;
  border-bottom-style: none;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}
.about-head.rightside {
  font-weight: 700;
  text-align: left;
}
.about-con1 {
  border-right-style: solid;
  border-right-width: 1px;
}
.about-con2 {
  padding: 0px 2px 0px 7px;
  border-bottom-style: none;
  border-bottom-width: 2px;
}
.team-div-2 {
  padding-left: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.team-p {
  padding: 10px 8px 8px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.contact-form {
  margin-top: 38px;
  padding: 30px 0px 20px;
}
.submit {
  margin-right: auto;
  margin-left: auto;
  padding: 9px 31px;
  background-color: #211d1d;
  color: white;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0px;
}
.text-area {
  padding: 1px 27px 74px 0px;
}
.form {
  height: 336px;
  padding: 4px 40px 0px;
  text-align: center;
}
.contact-sec {
  padding: 17px 70px 70px;
}
.contact-head {
  float: left;
  font-family: Roboto, sans-serif;
  color: black;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}
.contact-us-head {
  margin-top: 2px;
  margin-bottom: 10px;
  float: none;
  color: black;
}
.contact {
  padding: 24px 21px 24px 24px;
  float: right;
  border-style: solid none solid solid;
  border-width: 0.5px 2.5px;
  border-color: black #b5aeae;
  border-radius: 1px;
  font-family: Montserrat, sans-serif;
  color: #261f1f;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}
.contact._2 {
  border-right-style: solid;
}
.contact.menu {
  border-right-style: solid;
}
.contact.menu.w--current {
  background-color: transparent;
  color: black;
}
.contact.special.w--current {
  background-color: rgba(247, 247, 247, 0.68);
  color: black;
}
.map {
  position: static;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 167px;
  margin-top: 22px;
  margin-left: 0px;
}
.hero-text {
  display: block;
  padding-bottom: 9px;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}
.about-div {
  float: right;
  text-align: center;
}
.footer-head {
  height: auto;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 28px;
}
.list-footer {
  padding-top: 0px;
}
.footer-link {
  margin-right: -2px;
  margin-left: 0px;
  padding: 0px 0px 0px 8px;
  float: none;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}
.footer-link:hover {
  color: black;
}
.footer-link.w--current {
  background-color: transparent;
}
.footer-block {
  display: block;
  margin-right: 2px;
  margin-left: 19px;
  float: none;
}
.footer-block._3 {
  margin-left: 1px;
}
.footer-col4 {
  margin-left: -20px;
}
.footer-col3 {
  margin-right: -20px;
}
.tab-menu {
  display: block;
  padding-left: 0px;
  text-align: center;
}
.about-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px 0px;
  float: left;
  border-radius: 150px;
  text-align: left;
}
.about-row {
  margin-top: 6px;
  margin-bottom: 11px;
}
.about-img-p {
  padding: 6px 36px 0px;
  font-family: Roboto, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  text-align: center;
}
.test-tab {
  margin: 30px;
  padding-left: 26px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 15px;
  line-height: 20px;
}
.test-tab:hover {
  background-color: #18d4ed;
}
.test-tab:active {
  background-color: rgba(145, 138, 138, 0.83);
}
.test-tab.w--current {
  margin: 30px;
  border-radius: 25px;
  background-color: rgba(101, 214, 224, 0.76);
}
.about-heads {
  margin-top: 51px;
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 24px;
  line-height: 0px;
  font-weight: 900;
  text-align: left;
}
.test-p {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
}
.dropdown-link {
  border: 1px solid black;
  background-color: #6ed3e0;
  font-family: Lato, sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}
.dropdown-link:hover {
  background-color: #6ed3e0;
  color: black;
}
.dropdown-link.w--current {
  border-width: 0px;
  background-color: #6ed3e0;
  color: #030101;
  font-weight: 400;
}
.corperate-wellness-you {
  height: 522px;
  margin-top: 22px;
  padding-top: 0px;
}
.logo-div {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.logo {
  margin-right: 25px;
  margin-left: 25px;
  padding: 0px;
}
.about-text {
  text-align: center;
}
.about-p {
  padding: 28px;
  float: none;
  font-family:'Droid Sans', sans-serif;
  font-weight: 400;
}
.nav-con {
  float: none;
  text-align: left;
}
.wellness-sec {
  padding: 0px 73px 13px;
  border-bottom-style: none;
  border-bottom-width: 5px;
}
.wellness-head {
  margin-top: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid black;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 2px;
}
.wellness-head.top {
  border-bottom-style: none;
  font-size: 51px;
}
.about-pa {
  padding: 10px 20px 0px;
  float: none;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}
.wellness-text {
  display: block;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.wellness-img {
  padding-bottom: 10px;
}
.wellness-sec2 {
  height: 200px;
  padding: 70px;
  background-image: url('../images/IMG_0776.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.hero-service {
  height: 350px;
  padding-top: 46px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  background-color: #918a8a;
  background-image: url('../images/Wellness.jpg');
  background-size: cover;
}
.top-footer {
  background-color: white;
  font-size: 14px;
}
.top-nav {
  height: 74px;
}
.hero-faq {
  height: 300px;
  background-color: #707070;
  background-image: url('../images/Specialty Training 3.jpg');
  background-size: cover;
}
.faq-head {
  height: 76px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #050505;
}
.faq-sec {
  padding: 0px 72px;
}
.faq-con {
  margin-top: -19px;
  margin-bottom: 40px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.faq-text {
  position: relative;
  padding: 22px 22px 22px 0px;
  font-family: Fontawesome, sans-serif;
  font-size: 29px;
  line-height: 0px;
  font-weight: 400;
}
.faq-text:focus {
  position: static;
  color: #ccbebe;
}
.faq-text2 {
  font-family: Exo, sans-serif;
  text-transform: none;
}
.faq-p {
  position: relative;
  margin-bottom: 4px;
  padding-top: 0px;
  padding-left: 30px;
}
.wellness-sec3 {
  padding: 0px 70px 70px;
}
._404-head {
  color: black;
  font-size: 60px;
}
.info-footer {
  background-color: transparent;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 27px;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: none;
}
.footer-text {
  padding-top: 2px;
  padding-bottom: 2px;
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.footer-row {
  height: auto;
  padding: 5px 25px;
}
.hiddenbar {
  position: fixed;
  display: none;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  padding-bottom: 3px;
  background-color: dimgray;
  box-shadow: rgba(0, 0, 0, 0.49) 0px -2px 5px 0px inset;
}
.nav-sec {
  position: static;
  width: 100%;
}
.html-insta {
  height: auto;
}
.coaching-text {
  display: block;
  width: 547px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 18%;
  padding-bottom: 0%;
  color: white;
  text-align: center;
}
.coaching-col {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.coaching-col3 {
  overflow-x: visible;
  overflow-y: visible;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}
.cocaching-div {
  height: auto;
}
.coaching-row {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
.coaching-col1 {
  position: static;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}
.coaching-col2 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: 200px;
  margin-top: 0px;
  margin-right: 0px;
  background-image: url('../images/Specialty Training 3.jpg');
  background-size: cover;
}
.coaching-photo {
  position: relative;
  width: 50%;
  height: 400px;
  float: left;
  background-image: url('../images/Specialty Training.jpg');
  background-size: cover;
}
.coaching-photo2 {
  position: relative;
  left: 0px;
  top: 0px;
  display: block;
  width: 50%;
  height: 400px;
  float: right;
  background-image: url('../images/Specialty Training.jpg');
  background-size: cover;
}
.icon-footer {
  font-family:'Fontawesome webfont', sans-serif;
}
.hero-moblie {
  height: 350px;
  padding-top: 127px;
  background-image: url('../images/IMG_0957(3).jpg');
  background-position: 0% 17%;
  background-size: cover;
}
.hero-online {
  height: 350px;
  padding-top: 67px;
  background-color: #403f3f;
  background-image: url('../images/Postural Correction.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.mobile-head {
  margin-top: 1px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.moblie-sec {
  padding: 70px 77px 77px;
}
.moblie-head {
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: black;
  font-weight: 500;
}
.moblie-div {
  text-align: center;
}
.moblie-sub-head {
  margin-top: 1px;
  color: #0f0e0e;
}
.moblie-p {
  text-align: center;
}
.moblie-sub-sec {
  height: 200px;
  padding-top: 20px;
  background-color: #332e2e;
  background-image: url('../images/IMG_0964(2).jpg');
  background-position: 0% 2%;
  background-size: cover;
  background-attachment: fixed;
}
.mobie-sec2 {
  padding: 9px 65px 0px;
}
.sub-head {
  padding: 37px;
  border: 1px solid white;
  color: white;
}
.online-sec {
  padding: 10px 70px 70px;
}
.online-head {
  font-family: Exo, sans-serif;
  color: black;
  font-size: 52px;
}
.online-div {
  float: none;
  text-align: left;
}
.online-sec-sub {
  padding: 60px;
  background-color: #84fafa;
}
.online-sec2 {
  padding: 10px 71px 71px;
}
.online-text {
  padding: 9px;
  text-align: center;
}
.trainig-sub-sec {
  padding: 67px;
  background-color: #4d3a3a;
}
.training-sec-2 {
  margin-top: 50px;
  padding: 26px 70px;
  background-color: #595959;
}
.training-contact-text {
  text-align: center;
}
._404-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 14px;
  text-align: center;
}
._404-text {
  padding: 25px;
  text-align: center;
}
._404-text:hover {
  color: #242424;
}
.online-coach-head {
  direction: ltr;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 38px;
  text-align: center;
  text-transform: none;
}
.form-head {
  margin-top: 0px;
  border-top-style: none;
  border-top-width: 1px;
  color: black;
}
.form-text {
  padding: 0px 142px;
  font-size: 18px;
  text-align: center;
}
.divider {
  padding-top: 18px;
  border-top-style: solid;
  border-top-color: black;
  border-radius: 1px;
}
.form-input {
  width: 25%;
  float: left;
}
.form-input2 {
  width: 75%;
  float: right;
}
.form-label {
  position: relative;
  display: inline-block;
  float: none;
}
.form-label-2 {
  position: relative;
  top: 0px;
  right: 0px;
  margin-top: -17px;
}
.contact-field {
  height: 40px;
  margin-left: 0px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.38);
}
.contact-field:hover {
  border-color: black;
}
.contact-field._2 {
  width: 236px;
  padding-left: 11px;
}
.contact-field._3 {
  margin-left: 6px;
}
.contact-text {
  float: left;
  font-family: Exo, sans-serif;
  text-transform: uppercase;
}
.contact-text._2 {
  margin-left: 10px;
}
.form-wrapper {
  display: block;
  width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 11px;
  padding-bottom: 19px;
  text-align: left;
}
.contact-head1 {
  position: static;
  left: 0px;
  top: 0px;
  height: auto;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 6px;
  border-bottom-style: solid;
  border-bottom-color: rgba(125, 114, 114, 0.83);
  font-family: Roboto, sans-serif;
  font-size: 39px;
}
.contact-head2 {
  height: auto;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 29px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
}
.contact-share-head {
  display: inline-block;
  height: auto;
  color: #6b6464;
  font-size: 20px;
}
.contact-share-head.home {
  display: block;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 23px;
  font-weight: 700;
}
.contact-form2 {
  padding-top: 11px;
  text-align: center;
}
.comment-field {
  height: 41px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.38);
  line-height: 24px;
}
.contact-text2 {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
}
.contact-text3 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.field {
  border: 1px solid black;
  color: #0f0f0f;
}
.contact-text4 {
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: Exo, sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.contact-submit {
  width: 68px;
  margin-left: 0px;
  padding: 10px 5px;
  float: right;
}
.contact-col {
  border-left-style: solid;
  border-left-color: rgba(125, 114, 114, 0.83);
}
.hero-blog {
  height: 350px;
  padding-top: 30px;
  background-color: #2e2222;
  background-image: url('../images/Coaching sub img2(3).jpg');
  background-size: cover;
  background-attachment: fixed;
}
.blog-sec {
  padding: 70px;
}
.blog-img {
  margin-right: 10px;
  padding-right: 0px;
  padding-left: 6px;
  float: left;
}
.blog-p {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px 40px;
}
.wellness-sub {
  padding: 53px;
  background-image: url('../images/Servies.jpg');
  background-position: 0% 57%;
  background-size: cover;
  background-attachment: fixed;
}
.servies.wellness-2 {
  padding: 60px;
}
.wellness-col2 {
  height: auto;
  margin-top: -30px;
  margin-bottom: 1px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 5px;
  border-left-style: solid;
}
.wellness-row {
  display: block;
  margin-top: 0px;
  padding-top: 30px;
  border-top-style: solid;
}
.wellness-row.top {
  border-top-style: none;
}
.wellness-div-img {
  height: auto;
}
.wellness.servies-img {
  width: 40%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.wellness.servies-img.icon1 {
  width: 40%;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.wellness.servies-img.icon2 {
  display: block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.wellness.servies-img.icon3 {
  display: block;
  width: 38%;
  margin-right: auto;
  margin-left: auto;
}
.wellness.servies-img.icon4 {
  display: block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.wellness.servies-img.runner {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.down {
  height: 600px;
  background-color: #736868;
}
.wellness-table-submit {
  display: block;
  padding: 28px;
  background-color: black;
  color: white;
  font-size: 39px;
  font-weight: 900;
}
.home-email-head {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  color: white;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
}
.email-con {
  padding-top: 15px;
  padding-bottom: 4px;
}
.home-email-head2 {
  margin-top: -1px;
  margin-bottom: -1px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: none;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 31px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 5px;
}
.home-email-field {
  height: 34px;
  margin-bottom: 0px;
  padding-top: 6px;
  background-color: white;
  color: #737373;
  line-height: 19px;
}
.home-email-field:hover {
  box-shadow: white 0px 0px 6px 0px;
}
.email-cap-submit {
  display: block;
  height: 36px;
  padding: 1px 23px;
  background-color: #c7c7c7;
  font-family: Exo, sans-serif;
  font-size: 27px;
  font-weight: 700;
}
.email-cap-submit:hover {
  background-color: #545252;
}
.coaching-sec {
  height: 925px;
  background-color: #474747;
  color: #ccc;
}
.coaching-div {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: 400px;
  background-image: url('../images/IMG_0776.jpg');
  background-size: cover;
}
.coaching.last-pic {
  margin-top: 0px;
  padding-top: 0px;
}
.coaching-last-pic {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
  height: 200px;
  clear: both;
  background-image: url('../images/Corporate Headquarers.png');
  background-size: cover;
}
.span1 {
  display: inline-block;
  padding-top: 4px;
  font-family: Exo, sans-serif;
  font-size: 31px;
}
.hero-head2 {
  margin-top: 5px;
  border-style: none;
  background-color: transparent;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 50px;
}
.footer-menu-text {
  padding-top: 0px;
  padding-bottom: 5px;
  color: white;
  font-size: 20px;
  line-height: 25px;
}
.coaching-text-2 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 400px;
  padding-top: 49%;
  color: white;
  font-size: 31px;
  text-align: center;
}
.coaching-text-3 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 200px;
  margin-top: -1px;
  padding-top: 14%;
  color: white;
  text-align: center;
}
.test {
  width: 400px;
  height: 200px;
}
.test-img {
  position: relative;
}
.team-img {
  position: relative;
  top: 0px;
  width: 155px;
  margin-top: 1px;
  margin-right: 10px;
  padding: 0px;
  float: left;
}
.team-div {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-left: 21px;
}
.location-head {
  position: static;
  display: inline-block;
  margin-bottom: 0px;
  float: none;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 19px;
  line-height: 24px;
}
.location-p {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  margin-bottom: 0px;
  padding: 0px 0px 0px 5px;
  clear: none;
  color: white;
  font-size: 15px;
  text-indent: 0px;
}
.location-img {
  height: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 0px;
  float: none;
  background-color: transparent;
}
.coaching-div2 {
  text-align: center;
}
.coaching-div-button {
  display: inline-block;
  padding: 10px 16px;
  background-color: black;
  color: white;
}
.coaching-p {
  color: white;
  font-weight: 400;
  text-align: center;
}
.coaching-head {
  font-family: Exo, sans-serif;
  color: #fcfcfc;
  font-weight: 200;
}
.faq-p2 {
  padding-top: 0px;
  padding-left: 30px;
}
.faq-p3 {
  padding-top: 0px;
  padding-left: 30px;
}
.faq-p4 {
  padding-top: 0px;
  padding-left: 30px;
}
.faq-p5 {
  padding-top: 0px;
  padding-left: 30px;
}
.faq-p6 {
  padding-top: 0px;
  padding-left: 30px;
}
.faq-p7 {
  padding-top: 0px;
  padding-left: 30px;
}
.faq-p8 {
  padding-top: 0px;
  padding-left: 30px;
}
.faq-hero-head {
  margin-top: 0px;
  padding-top: 101px;
  color: white;
  font-size: 51px;
}
.blog-head {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: -1px;
  margin-left: -10px;
  padding: 6px 6px 6px 0px;
  float: none;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 52px;
  line-height: 39px;
  font-weight: 400;
  text-align: left;
}
.blog-div {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.wellness-sub-head {
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}
.coaching-head2 {
  margin-top: 1px;
  font-family: Exo, sans-serif;
  font-weight: 300;
}
.coaching-head3 {
  margin-top: 0px;
  margin-bottom: -1px;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
}
.coaching-head4 {
  font-family: Exo, sans-serif;
  font-weight: 400;
}
.coaching-sub-img {
  border-radius: 80px;
}
.team-head {
  position: relative;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 0px;
  padding-right: 10px;
  float: none;
  font-family: Roboto, sans-serif;
  color: #786f6f;
  font-weight: 700;
}
.team-con {
  margin-bottom: 25px;
  padding-right: 100px;
  padding-left: 100px;
}
.hero-team {
  height: 350px;
  background-image: url('../images/About-Us-Img.jpg');
  background-position: 0% 55%;
  background-size: cover;
}
.team-hero-head {
  margin-top: 0px;
  padding-top: 35px;
  font-family: Exo, sans-serif;
  color: white;
}
.team-img2 {
  margin-top: 0px;
  float: right;
}
.team-sub {
  padding: 34px 70px 70px;
  background-color: #7d7878;
}
.team-sub-head {
  font-size: 29px;
}
.team-sub-text {
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
}
.team-sub-div {
  text-align: center;
}
.tab-head {
  margin-top: 0px;
  margin-bottom: -2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  color: black;
  text-align: left;
}
.serives-col {
  text-align: right;
}
.servies-button {
  display: inline-block;
  padding: 15px;
  float: left;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 21px;
  font-weight: 300;
}
.servies-button:hover {
  background-color: #ebebeb;
}
.wellness-p {
  padding-top: 15px;
  float: left;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  list-style-type: none;
}
.wellness-button {
  position: static;
  left: 0px;
  top: 0px;
  display: inline-block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 19px;
  border: 1px solid black;
  background-color: white;
  color: black;
  text-align: center;
}
.about-us-div {
  float: none;
  text-align: left;
}
.team-head2 {
  display: inline-block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: Exo, sans-serif;
  color: black;
  font-weight: 700;
}
.servies-pack-head {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Exo, sans-serif;
  color: black;
  font-weight: 400;
}
.servies-pack-sub-head {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: center;
}
.servies-pack-head2 {
  margin-top: 1px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 19px;
  border: 1px solid black;
  background-color: black;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 54px;
  font-weight: 900;
  text-transform: uppercase;
}
.servies-pack-text {
  padding: 16px;
  border: 1px solid black;
  font-family: Exo, sans-serif;
  font-size: 16px;
  text-align: center;
}
.wellness-head2 {
  height: auto;
  margin-bottom: -1px;
  padding: 15px;
  border: 1px solid black;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}
.servies-head {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 14px;
  font-family: Exo, sans-serif;
  color: black;
}
.servies-sub-head {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.servies-p {
  margin-top: 1px;
  padding: 0px 15px;
  border-top-style: none;
  font-weight: 400;
}
.servies-div {
  margin-top: 0px;
}
.wellness-col {
  margin-top: -30px;
}
.main-servie {
  margin-top: 35px;
}
.serives-main-head2 {
  margin-bottom: 0px;
  font-family: Exo, sans-serif;
  color: black;
  font-size: 44px;
  text-align: left;
  text-transform: uppercase;
}
.servies-main-head {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #4d3636;
  font-size: 45px;
  font-weight: 500;
}
.servies-text {
  margin-top: 5px;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.servies-para {
  padding-top: 10px;
}
.online-p {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.team-div3 {
  margin-top: -27px;
  padding-top: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.team-con1 {
  margin-top: 10px;
}
.corporate-div {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.online-tab {
  position: static;
  display: inline-block;
  margin: 30px 22px 30px 12px;
  padding-right: 27px;
  padding-left: 27px;
  float: none;
  border-radius: 25px;
  font-size: 24px;
  text-align: center;
}
.online-tab.w--current {
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 12px;
  padding-left: 25px;
  border-radius: 25px;
  font-size: 25px;
}
.online-tab-menu {
  text-align: center;
}
.online-tab-head {
  display: inline-block;
  margin-top: 10px;
  color: black;
}
.online-tab-p {
  display: block;
  padding-top: 0px;
  color: black;
}
.online-img {
  padding: 10px 21px 21px;
  float: left;
}
.online-submit {
  padding: 15px 22px;
  float: right;
  background-color: black;
  color: white;
}
.top-nav-head {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: -1px;
}
.nav-top-head {
  position: relative;
  padding-top: 25px;
  font-family: Merriweather, serif;
  color: black;
  font-size: 32px;
  letter-spacing: 0px;
}
.nav-top-head.w--current {
  background-color: transparent;
  color: black;
}
.wellness-div2 {
  margin-top: 1px;
  padding: 0px;
}
.hero-contact {
  height: 250px;
  border-bottom-style: solid;
  background-image: url('../images/IMG_0957(3).jpg');
  background-position: 0% 10%;
  background-size: cover;
  background-attachment: scroll;
}
.embed-insta {
  width: auto;
  height: auto;
  margin: 2px;
  padding: 10px 0px 0px 8px;
  float: right;
}
.insta-div {
  padding-top: 11px;
  padding-left: 9px;
  float: right;
}
.health-facts-div {
  padding: 0px;
}
.socail-icons-div {
  padding-left: 0px;
}
.footer-links {
  padding: 0px 6px 6px;
}
.new-footer {
  padding: 10px 50px 0px;
  border-bottom: 20px solid white;
  background-color: #43b5cc;
}
.footer-img {
  height: auto;
  padding: 0px;
}
.new-footer-col {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 0px 59px;
  text-align: center;
}
.new-footer-col2 {
  margin-bottom: 0px;
  padding-bottom: 51px;
  text-align: center;
}
.new-footer-text {
  display: block;
  padding: 12px 12px 0px;
  color: white;
  font-size: 24px;
  text-align: center;
}
.new-footer-text:hover {
  color: black;
}
.footer-span {
  font-family:'Fontawesome webfont', sans-serif;
  font-size: 29px;
}
.new-footer-div {
  width: auto;
  padding-right: 68px;
  padding-left: 68px;
  background-color: #43b5cc;
}
.list {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.wellness-div-3 {
  padding-bottom: 0px;
  text-align: center;
}
.boxxing-class {
  display: none;
  height: 700px;
  padding: 156px 60px 60px;
  background-image: url('../images/Wellness.jpg');
  background-size: cover;
}
.boxxing-head {
  text-align: center;
}
.boxing-row-div {
  text-align: center;
}
.team-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 5px;
  text-align: left;
}
.team-left-p {
  text-align: center;
}
.services-wellness-head {
  font-family: Exo, sans-serif;
  color: black;
  font-weight: 700;
}
._404-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}
.follow-head {
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  font-family: Exo, sans-serif;
  color: white;
  font-size: 43px;
  line-height: 46px;
  font-weight: 500;
  letter-spacing: 0px;
}
.contact-p {
  padding-top: 3px;
}
.bottom {
  padding-top: 10px;
  padding-bottom: 5px;
}
.online-text-area {
  border: 2px solid black;
}
.swag {
  padding-left: 0px;
}
.contact-form-head {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
}
.contact-backpic {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #7db5e3;
  background-image: -webkit-linear-gradient(184deg, rgba(148, 162, 242, 0.2) 86%, white), url('../images/Walk across bridge(4).jpg');
  background-image: linear-gradient(266deg, rgba(148, 162, 242, 0.2) 86%, white), url('../images/Walk across bridge(4).jpg');
  background-size: auto, cover;
}
.col1-contact {
  padding-left: 0px;
}
.col1-moblie-img {
  padding-top: 0px;
  padding-left: 39px;
}
.head-div-online {
  color: white;
}
.wellness-icon {
  display: inline-block;
  margin: 17px;
  padding: 0px;
  float: left;
}
.training-pic1 {
  width: auto;
  height: 400px;
  background-image: url('../images/Performance Enhancement.jpg');
  text-align: center;
}
.training-pic-sec {
  width: auto;
  height: 800px;
  opacity: 0.5;
}
.training-text-1 {
  display: block;
  width: 391px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 49%;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}
.training-pic2 {
  width: auto;
  height: 200px;
  background-image: url('../images/IMG_0776.jpg');
  background-size: cover;
}
.training-text-2 {
  height: 200px;
  padding-top: 72px;
  padding-left: 0px;
  color: #f7f7f7;
  font-size: 28px;
  text-align: center;
}
.training-pic-3 {
  height: 200px;
  background-image: url('../images/IMG_0418.jpg');
  background-position: 0% 43%;
  background-size: cover;
}
.training-text-3 {
  display: block;
  height: 201px;
  padding-top: 72px;
  padding-left: 0px;
  color: white;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}
.training-pic-4 {
  width: auto;
  height: 400px;
  background-image: url('../images/IMG_0953(2).jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.training-text-4 {
  height: 400px;
  padding-top: 49%;
  padding-left: 0px;
  color: white;
  text-align: center;
}
.training-pic-5 {
  height: 200px;
  background-image: url('../images/Postural Correction.jpg');
  background-size: cover;
}
.training-pic-6 {
  width: 50%;
  height: 400px;
  float: left;
  background-image: url('../images/Corporate Headquarers.png');
  background-position: 15% 0px;
  background-size: cover;
}
.training-pic-7 {
  width: 50%;
  height: 400px;
  float: right;
  background-image: url('../images/Mt Rainier Hike.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.training-pic-10 {
  position: static;
  display: block;
  height: 200px;
  float: none;
  clear: both;
  background-image: url('../images/Specialty Training 3.jpg');
  background-size: cover;
}
.training-pic-8 {
  width: 50%;
  height: 400px;
  padding-top: 0px;
  float: left;
  background-image: url('../images/healthy-living-woman.jpg');
  background-position: 4% 50%;
  background-size: cover;
}
.training-pic9 {
  width: 50%;
  height: 400px;
  float: right;
  background-image: url('../images/fitness-habits-02.jpg');
  background-size: cover;
}
.training-text-5 {
  height: 200px;
  padding-top: 72px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}
.training-text-6 {
  height: 400px;
  padding-top: 49%;
  padding-left: 0px;
  color: white;
  font-size: 25px;
  text-align: center;
}
.training-text-7 {
  height: 400px;
  padding-top: 49%;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 27px;
  font-weight: 500;
  text-align: center;
}
.texting-text-8 {
  height: 400px;
  padding-top: 72px;
  color: white;
  text-align: center;
}
.training-text-9 {
  height: 400px;
  padding-top: 103px;
  padding-left: 0px;
  color: white;
  font-size: 29px;
  font-weight: 500;
  text-align: center;
}
.training-text-10 {
  height: 200px;
  padding-top: 72px;
  color: #f7f7f7;
  font-size: 25px;
  text-align: center;
}
.training-col-2 {
  padding-right: 0px;
  padding-left: 0px;
}
.training-col-1 {
  padding-right: 0px;
  padding-left: 0px;
}
.training-col-3 {
  padding-right: 0px;
  padding-left: 0px;
}
.training-row {
  width: auto;
}
.training-text-8 {
  height: 400px;
  padding-top: 111px;
  padding-left: 0px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.performance-enhancement {

  display:none;
  width:100%;
  height: 100%;
  position:absolute;
  background-size: cover;
  background-image: url('../images/Performance Enhancement.jpg');

}
.perf-con {
  padding: 43px;
  background-color: rgba(102, 97, 97, 0.29);
}
.perf-head {
  margin-top: -2px;
  margin-bottom: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}
html.w-mod-js *[data-ix="new-interaction"] {
  display: none;
}
html.w-mod-js *[data-ix="display-load-none"] {
  display: none;
  opacity: 0;
}
html.w-mod-js *[data-ix="new-interaction-3"] {
  display: none;
}
@media (max-width: 991px) {
  h1 {
    color: white;
  }
  a {
    padding-left: 0px;
  }
  .nav-menu {
    padding-right: 1%;
  }
  .menu-color {
    font-size: 13px;
  }
  .menu-color.w--open {
    font-size: 11px;
  }
  .about-us {
    padding-right: 0px;
    padding-left: 0px;
  }
  .location {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .mission-2 {
    padding: 28px 0px 8px;
  }
  .about-head {
    font-size: 27px;
  }
  .about-con1 {
    padding-right: 3px;
    padding-left: 0px;
  }
  .form {
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-sec {
    padding-right: 7px;
    padding-left: 0px;
  }
  .footer-head {
    margin-left: 8px;
  }
  .tab-menu {
    display: block;
  }
  .about-img {
    display: block;
    float: none;
    text-align: center;
  }
  .test-tab {
    position: static;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 30px;
    float: none;
    clear: both;
  }
  .about-heads {
    display: inline-block;
    float: none;
    text-align: center;
  }
  .wellness-sec {
    padding-right: 0px;
    padding-left: 0px;
  }
  .about-pa {
    display: inline-block;
    text-align: center;
  }
  .about-div-block {
    text-align: center;
  }
  .wellness-sec3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .coaching-photo {
    background-position: 43% 0%;
  }
  .coaching-photo2 {
    background-position: 34% 0%;
  }
  .moblie-sec {
    padding: 27px 0px;
  }
  .mobie-sec2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .sub-head {
    padding-right: 0px;
    padding-left: 0px;
  }
  .online-sec {
    padding-right: 0px;
    padding-left: 0px;
  }
  .online-sec-sub {
    padding-right: 0px;
    padding-left: 0px;
  }
  .online-sec2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .training-sec-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-share-head.home {
    padding-right: 0px;
  }
  .servies.wellness-2 {
    padding: 0px;
  }
  .wellness.servies-img.icon1 {
    width: 45%;
  }
  .wellness.servies-img.icon3 {
    width: 45%;
  }
  .footer-menu-text {
    display: block;
    float: none;
    clear: none;
  }
  .coaching-text-2 {
    left: 0px;
  }
  .team-img {
    display: block;
    width: 158px;
    float: left;
  }
  .team-div {
    display: block;
    padding-left: 10px;
  }
  .location-head {
    height: auto;
  }
  .location-p {
    padding-left: 5px;
    line-height: 27px;
  }
  .location-img {
    height: auto;
  }
  .serives-col {
    text-align: right;
  }
  .team-head2 {
    display: block;
    margin-top: -8px;
  }
  .team-p2 {
    display: block;
    padding-top: 12px;
  }
  .online-p {
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav-top-head {
    position: static;
    left: -19px;
    top: -64px;
    display: none;
    width: 454px;
    padding-top: 25px;
    float: none;
  }
  .new-footer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .new-footer-col {
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
  }
  .new-footer-div {
    padding-right: 0px;
    padding-left: 0px;
  }
  .team-left-p {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .navbar {
    margin-top: 4px;
  }
  .hero-section {
    background-position: 50% 50%;
  }
  .hero-section-2 {
    padding-bottom: 45px;
  }
  .test-tab {
    margin-right: 30px;
  }
  .test-tab.w--current {
    margin-left: 46px;
  }
  .corperate-wellness-you {
    margin-bottom: 1px;
  }
  .nav-con {
    position: static;
    overflow-x: visible;
    overflow-y: visible;
    margin-top: -6px;
    clear: none;
  }
  .wellness-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .faq-head {
    margin-bottom: 30px;
  }
  .faq-con {
    padding-left: 5px;
  }
  .faq-text {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
  }
  .contact-field._2 {
    display: block;
    width: auto;
    margin-top: 2px;
    margin-left: 0px;
    padding-top: 9px;
    float: none;
  }
  .contact-text {
    float: left;
  }
  .form-wrapper {
    display: block;
    width: auto;
    float: left;
  }
  .contact-head2 {
    line-height: 27px;
  }
  .home-email-field {
    display: block;
  }
  .footer-menu-text {
    display: none;
  }
  .serives-col {
    text-align: center;
  }
  .servies-p {
    border-top-style: none;
  }
  .wellness-col {
    margin-bottom: 38px;
  }
  .home-servies-div {
    float: none;
    text-align: left;
  }
  .new-footer {
    padding-right: 5px;
    padding-left: 5px;
  }
  .footer-col {
    display: none;
  }
  .follow-us-footer {
    display: none;
  }
}
@media (max-width: 479px) {
  .hero-section-2 {
    box-shadow: none;
  }
  .about-us {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .location {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .mission-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .tab-menu {
    margin-right: auto;
    margin-left: auto;
  }
  .test-tab.w--current {
    margin-right: 29px;
    padding-left: 23px;
  }
  .nav-con {
    display: block;
  }
  .faq-text {
    position: relative;
    display: block;
    margin-top: 34px;
  }
  .faq-text2 {
    font-size: 13px;
  }
  .info-footer {
    font-size: 25px;
  }
  .form-text {
    padding-right: 6px;
    padding-left: 6px;
    text-align: left;
  }
  .contact-field._2 {
    margin-top: 2px;
  }
  .contact-text {
    display: block;
  }
  .team-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: left;
  }
  .team-div {
    padding-right: 3px;
    padding-left: 3px;
  }
  .team-p2 {
    text-align: center;
  }
  .nav-top-head {
    padding: 14px 0px 24px;
    line-height: 29px;
  }
  .new-footer-col {
    padding-bottom: 20px;
  }
  .new-footer-div {
    padding-right: 0px;
    padding-left: 0px;
  }
  .follow-head {
    font-size: 33px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype'), url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}